<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./head')%>
    <title>Users</title>
</head>

<body>
  <%- include('./navbar')%>
    <h1>Users</h1>
    <button type="button" class="btn btn-primary">Ajouter</button>

    <% for (let i=0; i < users.length; i++ ) { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= users[i].name%>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= users[i].username%>
          </h6>
          <p class="card-text">
            <%= users[i].address.street%>
          </p>
          <a href="#" class="card-link btn btn-danger">delete</a>
        </div>
      </div>
      <% } %>
</body>

</html>