<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./head')%>
    <title>Users</title>
</head>

<body>
  <%- include('./navbar')%>
    <h1>Users</h1>
    <div></div>
    <% for (let i=0; i < users.length; i++ ) { %>
      <div class="card d-inline-flex m-4 p-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= users[i].name%>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= users[i].username%>
          </h6>
          <p class="card-text">
            <%= users[i].address.street%>
          </p>
          <a class="btn btn-danger" href="users/delete/<%=users[i].id %>"> delete </a>
        </div>
      </div>
      <% } %>
</body>

</html>